@media (max-width: 992px){
    
    .col {
        width: 50%;
    }
    
}


@media (max-width: 480px){
    
    .col {
        width: 100%;
    }
    
}




@media all and (maxx-width: 480px) {
    
    .col {
        width: 100%;
    }
